
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: neue-bold;
  src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: neue-light;
  src: url(./fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: neue-regular;
  src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: neue-medium;
  src: url(./fonts/Montserrat-Medium.ttf);
}

*{
  scroll-behavior: smooth;
}
body{
  padding: 0;
  margin: 0;
}

body{
  background: #fff;
 
 
}

.neue-bold{
  font-family: neue-medium;
  letter-spacing: 1.6px;
  
}
.neue-light{
  font-family: neue-regular;
  color: #3a3a3a;
  
}
.neue-white{
  font-family: neue-regular;
  color: #fff;
  
}
.neue-lightt{
  font-family: neue-regular;
  color:#fff;
  
}
.neue-ligh{
  font-family: neue-regular;
  color:#000;
  
}


 

  .green{
    color: #025e1c;
    
  }

  .outlinee{
     border-bottom: .2px solid #000; 
    padding: 4px;
    width: 96vw;
    
  }
.blue{
  color: #0603A0;
}
  .black{
    color: #000;
  }

  .bg-about{
    background-image: url(assets//about.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
  
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  }
  .bg-doing{
    background-image: url(assets//doing.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
   
    width: 90vw;
    margin-top: 20px;
    background-position: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: auto;
  }
  .bg-contact{
    background-image: url(assets//contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
   
  }
  .bg-hero{
    background-image: url(assets//lady.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    
    height: 600px;
    top: 0;
    margin-top: 0;
    background-position: fixed;
   
  }


  

.bg-welcome{
 
background: linear-gradient(163.33deg, #02013A 10.22%, #0603A0 88.48%);

}


  .margin{
    display: flex;
    padding: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .button{
    /* Rectangle 5 */
    display: flex;
    justify-content: center;
    align-items: center;
margin: 16px auto;
height: 64px;
width: 256px;
background: linear-gradient(33.33deg, #025e1c 19.83%, #8b978a 161.18%);
/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
border-radius: 10px;

  }
  .ticket-button{
    /* Rectangle 5 */
    display: flex;
    justify-content: center;
    align-items: center;
margin: 16px auto;
margin-top: 30%;
height: 64px;
width: 256px;
background: linear-gradient(180deg,#fea 0%,rgb(241, 217, 121) 49%,rgb(202, 182, 102) 51%,#dc8 100%);
border-radius: 10px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
  }

.ticket-note{
  background: linear-gradient(180deg,#fea 0%,rgb(241, 217, 121) 49%,rgb(202, 182, 102) 51%,#dc8 100%);
  width: 90vw;
  height: 100px;
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

}



  .reg{
    /* Rectangle 5 */
    display: flex;
    justify-content: center;
    align-items: center;
margin: 16px auto;
height: 64px;
width: 256px;
background: #000;
/* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
border-radius: 10px;

  }

  .track{
    letter-spacing: 1px;
  }
  .shadow{

border: 1px solid #D9D9D9;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  }
 
  .shadoww{


text-shadow: 0px 2px 2px rgba(8, 8, 8, 0.25);

  }

  .bg-gry{
    background-color: #f1f1f1 ;
  }

  .textt{
    /* position: absolute; */
    top:60px;
    margin-top: 60px;
  }

  .track{
    letter-spacing: 0.4px;
  }

  .borderline{
    border-top: 1px solid #c90404;
    border-bottom: 1px solid #c90404;
    width: 80%;
    height: 60px;
     margin-top: 8px; 
    /* margin-bottom: 8px; */
  }

  .positive{
    background-image: url(assets/positive.jpg);
    background-position: center;
    background-size: cover;
  }
  .determination{
    background-image: url(assets/determined.jpg);
    background-position: center;
    background-size: cover;
  }
  .success{
    background-image: url(assets/success.jpg) ;
    background-position: center;
    background-size: cover;
  }


  .round{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .bg-footer{
    background: linear-gradient(33.33deg, #025e1c 19.83%, #0de405 161.18%);
  }

/* loader */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.loader {
   border: 8px solid #02013A;
  border-top: 10px solid #0603A0;
  

  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #fff;
  animation: spinn 1s linear infinite;
}

@keyframes spinn{
0%{transform: rotate(0deg);}
100%{transform: rotate(360deg);}
}

.white{
  background-color: white;
  width: 120px;
  height: 40px;
  border-radius: 24px;
  margin: auto;
}

.box
{


width: 80vw;
height: auto;


background: #ffff;
border: 1px solid #f1f1f1;
box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
border-radius: 12px;


}
.boxxx
{


width: 400px;
height: 200px;


background: #ffff;
border: 1px solid #f1f1f1;
box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
border-radius: 12px;


}
.pbox
{

margin: auto;
width: 400px;
height: auto;


background: #ffff;
border: 1px solid #f1f1f1;
box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
border-radius: 12px;


}
.text-green{
color: #03015c;
}

.underborder{
  border-bottom: 1px solid #0de405;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.boxx
{

width: 80vw;
height: auto;


background: linear-gradient(163.33deg, #02013A 10.22%, #0603A0 );
border: 1px solid #f1f1f1;
box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
border-radius: 12px;


}

.bg-whitee{


background: #fff;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
 
}
.img-shadow{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

/* .bg-service{
  background-image: url(assets/service);
  background-position: right;
  background-size: cover;
  height: 480px;
  background-repeat: no-repeat;
} */

.circle{

width: 64px;
height: 64px;

background: linear-gradient(158.78deg, #0603A0 5.73%, #07B1FA 118.88%);
border: 1px solid #0603A0;
border-radius: 100px;

}

.forms {
  width: 640px;
  height: 780px;
  border: none;

}
@media(max-width:620px) {
  .forms {
    width: 400px;
    height: 780px;
  }
}

.border-step{
  border-bottom: 1px solid #D9D9D9;
  width: 400px;
}

.scroll-to-top{
  position: fixed;
  right: 4px;
   display: flex;
   bottom: 20px;
  cursor: pointer;
  display: none;
}
 
.scroll-to-top.visible{
  display: block;
}

 @media(min-width:620px) {
  .scroll-to-top{
     right: 20px;
  }
} 

.learn{
  border: 1.2px solid #fff
}

.bg-transparent{
  background: none;
}




.nav-section {
  position: absolute;
  top: 0px;
  width: 100%;
  margin-bottom: 24px;
  

}

.bg-tickets{
  background-image: url(assets/886fc547766b7af6ed85e8dc8da4943b.gif);
  background-position: center;
  background-size: cover;
}

.bg-top{
  background-image: url(assets/IMG_8662.GIF);
  background-position: center;
  background-size: cover;
 
}